
button, input[type=text] {
    margin: 0 auto 3px;
    padding: 3px;
}

button {
    background-color: #00dcff;
    border: none;
}

button.inline-block {
    display: inline-block;
    width: auto;
}

button {
    color: white;
}

button:active,input:active {
    outline: 1px solid blue;
}